.imagem-header {
    width: 100px;
}

.imagem-section {
    width: 60dvw;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 600px;
    border-radius: 15px;
    padding: 15px 50px 15px 50px;
    margin-top: 20px;
}

.header-div a {
    text-decoration: none;
    margin: 0;
    font-weight: 400;
    color: #F0743e;
}

.header-div a:hover {
    color: black;
}

.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

button {
    width: 300px;
    border-radius: 15px;
    border: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

button p {
    margin: 10px;
}

button:hover {
    background-color: #F0743e;
    border: none;
}

button:focus {
    border: none;
}